*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(to bottom, #230448, #4a50c3);
    min-width: 100vw;
    min-height: 100vh;
    color:#ffffff;
    font-size: 20px;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

a:hover {
    color: #acace0;
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
}

.root canvas {
    display: block;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
}

.volume {
    position: absolute;
    left: 50px;
}

.volume-on {
    cursor: pointer;
    display: none;
}

.volume-off {
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

.footer img {
    width: 30%;
    height: 30%;
}