*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    color:#000000;
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.5s ease;
}

a:hover {
    color: #555555;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    background-image: url(./assets/img/fon_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 690px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
}

.about, .favorites, .coffee_shop, .our_contacts, .digital_library_cards {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.nav {
    background-color: #0C0C0E;
    height: 90px;
    display: flex;
    align-items: center;
}

.nav_menu {
    margin: 0 auto;
    width: 100%;
}

p.logo {
    color: #FFFFFF;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.nav_menu_items {
    display: flex;
    justify-content: center;
}

.nav_menu_list_button {
    display: flex;
    gap: 40px;
}

.nav_menu, .nav_menu_list, .nav_menu_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu_items {
    gap: 30px;
}

.nav_menu_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    gap: 40px;
}

.nav_menu_link {
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.5s ease;
}

.nav_menu_link:hover {
    color: #555555;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav_menu_button {
    margin-left: 40px;
}

.section_welcome {
    height: 600px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome {
    width: 600px;
    height: 220px;
    padding: 35px 40px;
    background-color: #0C0C0E;
    margin-top: 220px;
}

h2 {
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

h3.coffee_shop_title {
    color: #BB945F;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.section_title_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.text_block_about {
    padding-bottom: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.text_block_coffee_shop {
    padding-bottom: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.images_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_dots {
    width: 68px;
    height: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text_favorites {
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
    text-align: left;
}


fieldset {
    border: 0;
    display: flex;
    justify-content: left;
    gap: 90px;
}

.radio_block {
    padding-bottom: 40px;
}

.radio_label_text {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio_label_text:checked {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.season_input {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    border: 2px solid #0C0C0E;
    transition: 0.2s all linear;
    position: relative;
    top: 4px;
  }

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 40px;
}

.card {
    border: 1px solid #000000;
    display: flex;
    width: 550px;
    height: 555px;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px 15px;
    flex-grow: 1;
}

 .card {
    height: 100%;
}

h3 {
    color: #000000;
    font-family: 'Forum';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card_line {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}

h4.card_title_1 {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5.card_title_2 {
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card_text {
    display: flex;
    width: 355px;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card_button_item {
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFFFFF;
    cursor: pointer;
    margin-top: auto;
}

.card_image {
    position: relative;
    top: 222px;
}

hr.line_menu {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.coffee_shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coffee_shop_menu_container {
    width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
}

.coffee_shop_content {
    display: flex;
    justify-content: space-between;
}

.coffee_shop_menu_drinks {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.coffee_shop_menu_desserts {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
}

.coffee_shop_menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.right_position {
    display: inline-flex;
    align-items: center;
    gap: 60px;
}

.contacts_items_map {
    display: flex;
    justify-content: space-between;
}

.contacts_items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts_items_line {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts_item_title {
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts_item {
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.find_get_card {
    display: flex;
    justify-content: space-between;
    gap: 344px;
}

.find_card_title_form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.find_card_form_title {
    text-align: center;
}

h3.find_card_title {
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.form {
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    border: 3px solid #BB945F;
    border-style: groove;
    background-color: #ffffff;
}

.form_bg {
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    background-color: #BB945F;
    margin: 20px;
    padding: 20px;
    padding-bottom: 25px;
}

h4.form_title {
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-bottom: 20px;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.form_input_item {
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: hidden;
    color: #8E8E8E;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 8px 20px;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_button_item {
    display: inline-flex;
    padding: 10px 40px;
    align-items: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
}

.get_card {
    width: 456px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h4.get_card_title {
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: right;
}

.get_card_text {
    text-align: right;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
}

.get_card_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.get_card_button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    cursor: pointer;
}

.footer {
    background-color:#0C0C0E;
    height: 250px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
}

.address_socials_schedule {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
}

.address_socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address {
    width: 229px;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.socials {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.schedule {
    text-align: right;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.hr_footer {
    width: 1400px;
    height: 1px;
    background-color: #ffffff;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    padding-top: 44px;
    padding-bottom: 44px;
}

.copyrights_center_title {
    display: flex;
    width: 400px;
    height: 22px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}