*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    color:#000000;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: color 0.5s ease;
}

a:hover {
    color: #8E8E8E;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.header {
    background-color: #0C0C0E;
    height: 90px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.logo {
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.5s ease;
}

.logo:hover {
    color: #8E8E8E;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-menu__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.profile__icon {
    filter: opacity(100%);
    cursor: pointer;
    transition: 0.5s ease;
}

.profile__icon:hover {
    filter: opacity(50%);
}

.profile__gap {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-menu__link {
    color: #FFFFFF;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.5s ease;
}

.nav-menu__link:hover {
    color: #555555;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome {
    height: 600px;
    background-image: url(./assets/img/fon_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;
}

.shadow {
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.welcome-block {
    width: 600px;
    height: 220px;
    background-color: #0C0C0E;
    z-index: 1;
}

.welcome-block__title {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    color: #0C0C0E;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #0C0C0E;
}

.title-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
}

.about-text-block {
    text-align: center;
    line-height: 40px;
    padding-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.pagination {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pagination-block {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle_checked {
    background-color: #BB945F;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    filter: opacity(100%);
    transition: 0.5s ease;
}

.circle_checked:hover {
    filter: opacity(50%);
}

.circle {
    background-color: #0C0C0E;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    filter: opacity(100%);
    transition: 0.5s ease;
}

.circle:hover {
    filter: opacity(50%);
}

.favorites-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.favorites-block_text {
    text-align: left;
    font-weight: 700;
    word-spacing: 2px;
}

.season-block {
    padding-bottom: 35px;
    display: flex;
    gap: 80px;
    border: 0;
}

.season-block input[type=radio] {
	display: none;
}

.season-block label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 37px;
	line-height: 20px;
}

.season-block label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(./assets/svg/radio_unchecked.svg) 0 0 no-repeat;
}

/* Checked */
.season-block input[type=radio]:checked + label:before {
	background: url(./assets/svg/radio_checked.svg) 0 0 no-repeat;
}

.season-block__item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.radio {
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    transition: 0.5s ease;
}

.label__text {
    line-height: normal;
    cursor: pointer;
    filter: opacity(100%);
    transition: 0.5s ease;
}

.label__text:hover{
    filter: opacity(70%);
}

.label__text_checked {
    line-height: normal;
    cursor: pointer;
    font-weight: 700;
    filter: opacity(100%);
    transition: 0.5s ease;
}

.label__text_checked:hover {
    filter: opacity(70%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    gap: 40px;
    margin-bottom: 40px;
}

.hide {
    display: none; /* невидимые карточки */
}

.card {
    border: 1px solid #000000;
    display: flex;
    width: 550px;
    height: 555px;
    margin-right: 40px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px 15px;
    flex-grow: 1;
    position: relative;
}

.card-image__item {
    position: absolute;
    bottom: -1px;
    right: -40px;
}

h3 {
    font-size: 20px;
    font-family: 'Forum';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card_line {
    width: 60px;
    height: 1px;
    background-color: #BB945F;
}

h4.book-title {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5.book-author {
    font-size: 15px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.card__description {
    display: flex;
    width: 355px;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.card__button {
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFFFFF;
    margin-top: auto;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease;
}

.card__button:hover {
    background-color: #BB945F;
    border: 1px solid #BB945F;
}

.card__button_own {
    width: 75px;
    height: 30px;
    color: #BB945F;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #FFFFFF;
    margin-top: auto;
    border: 1px solid #BB945F;
    border-radius: 2px;
}

.text_block_coffee_shop {
    padding-bottom: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.coffee-shop__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

h3.coffee-shop__title {
    color: #BB945F;
    font-family: 'Forum';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.right {
    display: flex;
    justify-content: flex-end;
}

.coffee-shop__item {
    display: flex;
    flex-direction: column;
}

.coffee-shop__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.coffee-shop__list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.coffee-shop__text {
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 215px;
}

.right {
    text-align: flex-end;
}

.coffee-shop__line {
    width: 100px;
    height: 1px;
    background-color: #BB945F;
}

.coffee-shop__price {
    font-family: 'Forum';
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contacts-block__items {
    display: flex;
    flex-direction: column;
}

.contacts-block__title {
    text-align: left;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.contacts__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__item {
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts__item_link {
    font-weight: 400;
    color: #0C0C0E;
    transition: weight 0.5s ease; /* почему-то не работает как положено */
}

.contacts__item_link:hover {
    font-weight: 700;
    color: #0C0C0E;
}

.find-get-card {
    display: flex;
    justify-content: space-between;
}

.find-card-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h3.find-card__title {
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.form {
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    border-style: groove;
    background-color: #ffffff;
}

.form_field {
    width: 560px;
    height: 272px;
    background-color: #BB945F;
    margin: 20px;
    padding: 20px;
    margin-bottom: 16px;
}

h4.form_title {
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding-bottom: 20px;
}

.form_inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.form_input_item {
    width: 520px;
    height: 66px;
    border-radius: 10px;
    background-color: #ffffff;
    border-style: hidden;
    color: #BB945F;
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 8px 20px;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_button_item {
    display: inline-flex;
    padding: 10px 40px;
    text-align: flex-end;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease;
}

.form_button_item:hover {
    border: 1px solid #BB945F;
    background-color: #BB945F;
}

.get_card {
    width: 456px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

h4.get_card_title {
    font-family: 'Forum';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: right;
}

.get_card_text {
    text-align: right;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.get_card_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.get_card_button {
    display: flex;
    width: 75px;
    height: 30px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    cursor: pointer;
    transition: 0.5s ease;
}

.get_card_button:hover {
    border: 1px solid #BB945F;
    background-color: #BB945F;
}

.footer {
    background-color:#0C0C0E;
    height: 250px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
}

.address_socials_schedule {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 30px;
}

.address_socials {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.address {
    width: 229px;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.address:hover {
    color: #8E8E8E;
}

.socials {
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.schedule {
    text-align: right;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hr_footer {
    width: 1400px;
    height: 1px;
    background-color: #ffffff;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    padding-top: 34px;
    padding-bottom: 34px;
}

.copyrights_RSS {
    margin-left: 55px;
}